<div class="control-group nested-fields">
  <%= f.fields_for :taxonomy do |relationship_taxonomy| %>
    <div class="col-sm-2">
      <%= relationship_taxonomy.text_field :code, :class => 'form-control' %>
      <%= link_to_remove_association f, :class => 'btn btn-xs btn-danger' %>
    </div>
        
  <% end %> 
</div>